* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Oswald', 'Montserrat Alternates', 'Plus Jakarta Sans', 'Archivo', 'Heebo', sans-serif;
  font-size: 16px;
  color: #fff;
}

a,
span,
.itemBox,
.animateBox {
  transition: .25s ease-in-out !important;
  -webkit-transition: .25s ease-in-out !important;
  -moz-transition: .25s ease-in-out !important;
}

.clear {
  clear: both;
  height: 1px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/*=========== position class ===============*/
.pos_relative {
  position: relative;
}

.pos_absolute {
  position: absolute;
}

.pos_fixed {
  position: fixed;
}

/*=========== position class ===============*/

/*=========== display class ===============*/
.display_none {
  display: none;
}

.display_block {
  display: block;
}

.display_flex {
  display: flex;
}

.mid_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========== display class ===============*/

/* font families classes */
.montserrat-alternates-font {
  font-family: 'Montserrat Alternates', sans-serif;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.plus-jakarta-font {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.archivo-font {
  font-family: 'Archivo', sans-serif;
}

.heebo-font {
  font-family: 'Heebo', sans-serif;
}

/* font families classes ends */

.font-w-800 {
  font-weight: 800;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-600 {
  font-weight: 600;
}

.letter-spac-2 {
  letter-spacing: 2px;
}

.row_100 {
  width: 100%;
  float: left;
}

.headerCntr {
  z-index: 4;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
}

.bg_color_code_1 {
  background: #C2278E;
}

.bg_color_code_2 {
  background: #fff;
}

.headerCntr .logoBox {
  float: left;
  width: 200px;
  height: 50px;
}

.headerCntr .logoBox img {
  width: 150px;
  height: 35px;
  margin-top: 5px;
}

.headerCntr.active {
  position: fixed;
  top: 0px;
  z-index: 99;
  box-shadow: 0px 6px 6px 1px rgb(0 0 0 / 13%);
}

.headerCntr.active .menuBox li a {
  color: #5b5b5b;
  cursor: pointer;
}

.headerCntr.active .logoBox img {
  width: 75%;
}


.headerCntr .menuBox {
  width: 83%;
  float: right;
}

.headerCntr .menuBox ul {
  margin-bottom: 0px;
}

.headerCntr .menuBox li {
  display: inline-block;
  height: 40px;
}

.headerCntr .menuBox li a {
  margin: 0px 30px 0 0;
  color: #292929BF;
  line-height: 45px;
  float: left;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;
}

.headerCntr .menuBox li a.contactus {
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  background: #C2278E;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: 'Oswald', sans-serif;
}

.headerCntr .menuBox li a.sociallink {
  margin: -3px 15px 0 0;
  font-size: 20px;
  color: #2C2C2C;
}

.headerCntr .menuBox li a span {
  border: 2px solid #B31E8C;
  width: 60%;
  float: left;
  visibility: hidden;
  margin-top: -7px;
}

.headerCntr .menuBox li a:hover,
.headerCntr .menuBox li a.active,
.headerCntr.active .menuBox li a:hover,
.headerCntr.active .menuBox li a.active {
  color: #1C1C1C;
}

.headerCntr .menuBox li a.contactus:hover,
.headerCntr .menuBox li a.contactus.active,
.headerCntr.active .menuBox li a.contactus:hover,
.headerCntr.active .menuBox li a.contactus.active {
  color: #fff;
}

.headerCntr .menuBox li a:hover span,
.headerCntr .menuBox li a.active span,
.headerCntr.active .menuBox li a:hover span,
.headerCntr.active .menuBox li a.active span {
  visibility: visible;
}

.mobileIcon {
  width: 35px;
  float: right;
  display: none;
  margin-top: 10px;
  cursor: pointer;
}

.mobileIcon span {
  width: 35px;
  float: right !important;
  margin-top: 5px;
  height: 3px;
  background: #1d7dc1;
}

.mobileIcon span:first-child {
  margin-top: 0px;
}

.mobileIcon span:nth-child(2n) {
  width: 26px;
}

.mobileIcon span:last-child {
  width: 20px;
}

.careerArea { width: 50%;}
/* start your story css part */

.startYourstoryCntr {
  height: 560px;
  background: url('../public/banner_1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.opacityBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.opacityBox.startGradient {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(18, 27, 33, 5) 100%);
}

.startYourstoryCntr .bannerBox {
  height: 100%;
}

.startBox {
  height: 100%;
  ;
  top: 0px;
  z-index: 1;

}

.startBox .midBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.startBox h2 {
  margin-bottom: 45px;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2;
}

.btnStyle {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 2;
  color: #fff;
  padding: 15px 40px;
  border-radius: 40px;
  background: #F837B7;
  border: 1px solid #F837B7;
}

.btnStyle:hover {
  color: #000;
  background: #F837B7;
  border: 1px solid #F837B7;
}

/* about us container css */
.aboutusCntr {
  min-height: 550px;
  padding: 100px 0 0 0;
  position: relative;
  overflow: hidden;
}

.aboutusCntr .opacityBox {
  position: absolute;
  top: 0px;
  left: 260px;
  rotate: -38deg;
}

.aboutusCntr .opacityBox.aboutusGradient {
  background: linear-gradient(249.66deg, #871561 10.64%, rgba(194, 39, 142, 0) 82.08%);
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.aboutusCntr h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
}

.aboutusCntr p {
  font-family: 'Archivo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.aboutSlider {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.aboutSlider li img {
  width: 70%;
}

/* start our services css */

.serviceCntr .counterBox .col {
  text-align: center;
  padding: 25px;
  border-radius: 5px;
}

.serviceCntr .counterBox .col:hover {
  background: #CC0E8C;
}

.serviceCntr .counterBox .col:hover h3,
.serviceCntr .counterBox .col:hover p {
  color: #fff;
}

.serviceCntr .counterBox h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 70px;
  color: #CC0E8C;
}

.serviceCntr .counterBox p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #292929;
}

.servicesArea h4,
.careerCntr h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #C2278E;
}

.servicesArea h3,
.careerCntr h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 60px;
  color: #2D2D2D;
}

.servicesArea p,
.careerCntr p {
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  color: #6E6E6E;
}


.servicesArea ul {
  padding-left: 50px;
  float: right;
  width: 90%;
}

.servicesArea li {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #BCBCBC;
}

.servicesArea li em {
  width: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 2px solid #000000;
}

.servicesArea li a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  color: #2D2D2D !important;
}

.servicesArea li a span {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  color: #C2278E;
}

.servicesArea li .fa {
  color: #0F0F0F;
  float: right;
}

/* end our services css */

/* start guide container css */
.guideCntr {
  height: 600px;
  background: url('../public/guide_banner.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.opacityBox.guideGradient {
  background: linear-gradient(269.9deg, rgba(0, 0, 0, 0) 0.95%, rgba(0, 0, 0, 0.96) 101.07%);
  ;
}

.guideCntr h2 {
  margin: 45px 0;
  font-size: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2;
  line-height: 72px;
}

.guideCntr p {
  margin: 45px 0 0 0;
  font-size: 17px;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

.guideCntr a {
  float: right;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}

.guideCntr a span {
  margin-left: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 25px;
}

.guideCntr a .fa {
  color: #fff;
}

.guideCntr a span:hover {
  background: #fff;
}

.guideCntr a span:hover .fa {
  color: #000;
}

/* End guide container css */

/* start career container css */
.careerCntr {
  overflow: hidden;
}

.careerCntr a {
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  background: #C2278E;
  border-radius: 25px;
  padding: 15px 25px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-decoration: none;
}

.careerCntr img {
  width: 45%;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* video container css */
.videoCntr {
  height: 600px;
  background: url('../public/videoCntr.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.videoCntr .container { height: 100%; justify-content: center; align-items: center; display: flex;}

.opacityBox.videoGradient {
  background: linear-gradient(90.45deg, rgba(194, 39, 142, 0.51) 0.36%, rgba(15, 15, 15, 0) 99.59%);
}

.videoCntr span {
  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;
  padding: 25px;
  background: #fff;
  cursor: pointer;

}

.videoCntr .fa {
  color: #C2278E;
  font-size: 40px;
  padding: 4px 4px 4px 10px;
}

.videoCntr span:hover {
  background: #C2278E;
  border: 1px solid #C2278E;
}

.videoCntr span:hover .fa {
  color: #fff;
}


/* client container css */
.clientsCntr h2 {
  text-align: center;
  float: right;
  font-size: 45px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  line-height: 42px;
  color: #000;
}

.clientsCntr .itemBox {
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  border-radius: 10px;
  background: #f8f6f6;
}

.react-slideshow-container .nav:first-of-type {left:-55px}
.clientsCntr .itemBox p {
  padding: 20px;
  font-size: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #5E84A1;
}

.clientsCntr .itemBox:hover,
.clientsCntr .itemBox.active {
  background: #C2278E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clientsCntr .itemBox:hover p,
.clientsCntr .itemBox.active p {
  color: #fff;
}



/* footer css */
.bg_footer {
  background: #000;
}

.footerTop {
  padding: 50px 0;
}

.footerTop h3 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  font-family: 'Montserrat', sans-serif;

}

.footerTop p {
  padding: 0px 200px;
  margin: 35px 0;
  color: #E0E0E0;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

.footerTop a {
  display: inline-block;
  padding: 15px 50px;
  text-decoration: none;
  background: #C2278E;
  border-radius: 50px;
  color: #1C1C1C;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

.footerLogo img {
  width: 230px;
  height: 45px;
}

.footerLogo p {
  color: #E0E0E0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.footerUrl h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.footerUrl ul {
  padding-left: 0px;
}

.footerUrl li {
  margin-bottom: 10px;
}

.footerUrl li a {
  color: #E0E0E0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-decoration: none;
}

.footerUrl li a:hover {
  color: #C2278E;
}

.footerUrl p {
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
}

.copyRight {
  padding: 10px 0;
  border-top: 1px solid #7C7C7C
}

.copyRight p {
  float: left;
  color: #fff;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.copyRight ul {
  float: right;
  margin: 0px
}

.copyRight li a {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}

.copyRight li a:hover {
  color: #C2278E;
}

/* Responsive working area */


@media only screen and (max-width: 1080px) {


  .container {
    width: 90%;
    max-width: 90%;
  }


  .mobileIcon {
    display: block;
    margin-top: 13px;
  }

  .mobResponsive {
    padding: 15px 0 !important;
  }

  .headerCntr {
    padding: 0px;
    width:100%;
  }
  
  .startYourstoryCntr { height: 380px;}

  .logoBox img {
    width: 80%;
  }

  .menuBox {
    display: none;
    transition: 0.25s ease-in-out !important;
    -webkit-transition: 0.25s ease-in-out !important;
    -moz-transition: 0.25s ease-in-out !important;
  }

  .footerUrl p { word-wrap: break-word;}

  .servicesArea h3,
  .careerCntr h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .servicesArea ul {
    padding-left: 0px;
    width: 100%;
  }

  .servicesArea li a {
    font-size: 16px;
  }

  .guideCntr {
    height: 400px;
    padding: 35px 0;
    text-align: center;
  }

  .servicesArea .col-md-5 { text-align: center;}
  .guideCntr h2 {
    font-size: 30px;
    padding-top: 10px !important;
    margin-top: 0px;
  }

  .headerCntr .menuBox li a.contactus {
    background: none; color: #292929BF; padding: 0px;
  }

  .headerCntr .menuBox li a.contactus:hover {
    color: #292929BF;
  }

  .guideCntr a {
    display: none;
  }

  .careerArea { width: 100%;}


  .guideCntr p {
    margin-top: 0px;
    padding-top: 0px !important;
  }

  .careerCntr img {
    display: none;
  }

  .servicesArea h4,
  .careerCntr h4 {
    padding-top: 0px !important;
  }

  .videoCntr {
    height: 300px;
  }

  .clientsCntr h2 {
    font-size: 30px;
    padding-bottom: 20px !important;
  }

  .clientsCntr {
    text-align: center;
  }

  .react-slideshow-container .nav:first-of-type { left: -35px;}
  .react-slideshow-container .nav:last-of-type { right: -35px;}
  .clientsCntr .itemBox { width: 97%;}

  .topTitle {
    font-size: 12px;
  }

  .footerTop h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .footerTop {
    padding: 25px 0;
  }

  .footerTop p {
    padding: 0px;
    font-size: 14px;
  }

  .footerTop a {
    padding: 10px 25px;
    font-size: 12px;
  }

  .footerBottom {
    text-align: center;
  }

  .footerLogo img {
    margin: 0px auto;
  }

  .footerLogo p {
    font-size: 14px;
  }

  .footerUrl {
    padding-bottom: 20px;
  }

  .footerLogo { padding-bottom: 20px;}
  .copyRight p {
    font-size: 12px;
    width: 100%;
    float: left;
    text-align: center;
  }

  .copyRight ul {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0;
  }

  .careerCntr { text-align: center;}

  .menuBox.active {
    width: 70%;
    right: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    background: #fff;
    z-index: 99;
    display: block;
    box-shadow: 0 6px 6px 1px rgb(0 0 0/13%);
  }

  .headerCntr .menuBox li a.sociallink {
    display: none;
  }

  .headerCntr .menuBox li {
    line-height: 25px;
  }

  .headerCntr .menuBox li a span {
    display: none;
  }

  .menuBox.active ul {
    padding: 10px 20px;
    text-align: left;
  }

  .menuBox.active ul li {
    width: 100%;
    float: left;
    line-height: 30px;
    height: 30px;
    margin-bottom: 10px;
  }

  .menuBox.active ul li a {
    margin: 0px;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
    color: #292929BF;
    width: 100%;
    float: left;
    line-height: 30px;
  }

  .headerCntr.active .mobileIcon {
    color: #fff;
  }

  .headerCntr.active .logoBox img {
    width: 80%;
  }

  .headerCntr.active .menuBox.active {
    top: -10px;
    box-shadow: 0 6px 6px 1px rgb(0 0 0/13%);
  }

  .headerCntr.active .menuBox.active ul {
    padding: 10px 20px;
  }

  .headerCntr.active .menuBox.active ul li a {
    color: #292929BF;
  }

  .headerCntr.active .menuBox.active ul li a :hover {
    color: #1C1C1C;
  }

  .menuBox.active li a:hover,
  .menuBox.active li a.active,
  .headerCntr.active .menuBox li a:hover,
  .headerCntr.active .menuBox li a.active {
    color: #1C1C1C;
  }

  .startBox h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .btnStyle {
    padding: 10px 20px;
    font-size: 12px;
  }

  .aboutusCntr {
    padding: 35px 0;
    text-align: center;
  }

  .aboutSlider {
    margin-top: 25px;
    display: block;
  }

  .aboutusCntr h2 {
    padding-bottom: 20px;
  }

  .aboutSlider li {
    background: #fff;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .aboutSlider li img {
    width: 150px;
  }

  .aboutusCntr .opacityBox.aboutusGradient {
    display: none;
  }

  .aboutSlider li:last-child {
    margin-bottom: 0px;
  }

  .mob_m_0 {
    margin-left: 0px;
    margin-right: 0px;
  }

}